// Color Palette
$primary: #161a4a;
$primary-hover: #232757;
$clear: rgba(0, 0, 0, 0);
$dark-alt: #c08552;
$light: #fffce2;


$border-width: 3px;
$sidebar-width: 280px;
$media_width: 768px;
$pad: 32px;
$pad_half: 16px;
$pad_double: 64px;